@model StudentManagement.Models.StudentViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Student Add / Update</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-area="" asp-controller="Student" asp-action="AddUpdateStudent">
                @Html.AntiForgeryToken()
                <input type="hidden" id="StudentId" name="StudentId"/>

                <div class="row mb-3">
                    <div class="col-12"><lebel for="StudentName">Student Name</lebel></div>
                    <div class="col-12"><input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="Enter Name"/></div>
                </div>

                   <div class="row mb-3">
                    <div class="col-12"><lebel for="EmailAddress">Email Address</lebel></div>
                    <div class="col-12"><input type="text" class="form-control" name="EmailAddress" id="EmailAddress" placeholder="Enter Name" /></div>
                </div>


                <div class="row mb-3">
                    <div class="col-12"><lebel for="city">City</lebel></div>
                    <div class="col-12"><input type="text" class="form-control" name="city" id="city" placeholder="Enter Name" /></div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            @{
                if(TempData["SuccessMsg"] != null)
                {
                    <h2 class="bg-success">@TempData["SuccessMsg"] </h2>
                }
                if(TempData["ErrorMsg"] != null)
                {
                    <h2 class="bg-danger">@TempData["ErrorMsg"] </h2>
                }
            }
        </div>
    </div>
</div>



<h1>Student List</h1>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        @{
            if (Model.StudentList !=null && Model.StudentList.Count>0)
            {
                foreach (var item in Model.StudentList)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.StudentName</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.city</td>
                        <td>@item.CreationDate.ToString("dd-MMM-yyyy")</td>
                        <td>
                            <a onclick="DeleteStudentRecord('@item.StudentId')" style="cursor:pointer;">Delete</a>&nbsp;&nbsp;&nbsp;
                            <a onclick="UpdateStudentRecord('@item.StudentId','@item.StudentName','@item.EmailAddress','@item.city')" style="cursor:pointer;">Edit</a>
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div> 

<script type="text/javascript">
    function DeleteStudentRecord(StudentId) {
        let response = confirm("Do you want to Delete this Record");
        if (response) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteStudent","Student")',
                data: { StudentId: StudentId },
                success: function (response) {
                    if (response.message == "Delete Successfully") {
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error Occurred! Try Again");
                }
            });
        }
    }


    //function DeleteStudentRecord(StudentId){
    //    let response = confirm("Do you want to Delete this Record");
    //    if(response){
    //        $.ajax({
    //            type:"POST",
    //            url: '@Url.Action("DeleteStudent","Student")',
    //            data: { StudentId :StudentId},

    //            success:function(response){
    //                if (response.message == "Delete Successfully"){
    //                    window.location.reload();
    //                }else{
    //                    alert(response.message)
    //                }
    //            },
    //            complete:function(){
    //                failure:function(jqXHR, textStatus,errorThrown){
    //                    alert("Error Occured ! Try Again");
    //                }
    //            }
    //        });
    //    }
    //}

    function UpdateStudentRecord(StudentId,StudentName,EmailAddress,city){
        $('#StudentId').val(StudentId);
        $('#StudentName').val(StudentName);
        $('#EmailAddress').val(EmailAddress);
        $('#city').val(city);
    }
</script>